/* Advantages */

.advantages {
    margin-top: 120px;
}

.advantages__list {
    display: flex;
    margin-right: -30px;
}

.advantages__item {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: calc(33.333% - 30px);
    height: 150px;
    margin-right: 30px;
}

@media screen and (max-width: 1024px) {
    .advantages {
        margin-top: 80px;
    }
    
    .advantages__list {
        margin-right: -10px;
    }
    
    .advantages__item {
        margin-right: 10px;
        width: calc(33.333% - 10px);
    }
}

/* //Advantages */