@font-face {
    font-family: "Helvetica Neue";
    src: url(../fonts/HelveticaNeueCyr-Roman.ttf);
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Helvetica Neue";
    src: url(../fonts/HelveticaNeueCyr-Medium.ttf);
    font-weight: 500;
    font-style: normal;
}

@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.ttf');;
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-active:before {
  content: "\e90a";
}
.icon-close:before {
  content: "\e909";
}
.icon-fb:before {
  content: "\e906";
}
.icon-inst:before {
  content: "\e908";
}
.icon-star:before {
  content: "\e905";
}
.icon-add-favorite:before {
  content: "\e907";
}
.icon-arrow-left:before {
  content: "\e900";
}
.icon-arrow-right:before {
  content: "\e902";
}
.icon-drop-arrow:before {
  content: "\e903";
}
.icon-search:before {
  content: "\e901";
}
.icon-cart:before {
  content: "\e904";
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-appearance: none;
       -moz-appearance: none;
        -ms-appearance: none;
         -o-appearance: none;
            appearance: none;
}

*::before,
*::after {
    box-sizing: border-box;
}

ul[class] {
    list-style: none;
}

ol:not([class]), 
ul:not([class]) {
    padding-left: 17px;
}

ol:not([class]) li, 
ul:not([class]) li {
    margin-bottom: 12px;
}

img {
    max-width: 100%;
    max-height: 100%;
    vertical-align: top;
}

a {
    font: inherit;
    color: inherit;
    text-decoration: none;
}

textarea {
    font: inherit;
    color: inherit;
    outline: none;
}

input {
    font: inherit;
    color: inherit;
    outline: none;
}

button {
    font: inherit;
    color: inherit;
    text-transform: inherit;
    outline: none;
    border: none;
    background: none;
    cursor: pointer;
    -webkit-mask-image: -webkit-radial-gradient(white, black);
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
}

input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
    -moz-appearance: none;
        -ms-appearance: none;
         -o-appearance: none;
            appearance: none;
}

input[type=date]::-webkit-inner-spin-button {
  -webkit-appearance: none;
    -moz-appearance: none;
        -ms-appearance: none;
         -o-appearance: none;
            appearance: none;
}

html {
    overflow-x: hidden;
    -webkit-overflow-scrolling: touch;
}


html.overflow {
    height: auto;
    position: relative;
    overflow: hidden !important;
    margin-right: 17px;
    
    .button-to-top {
        right: 92px;
    }
}

body {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    min-width: 320px;
    font-family: "Helvetica Neue", sans-serif;
    font-weight: 400;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-overflow-scrolling: touch;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #000000;
    background-color: #ffffff;
    min-height: 100vh;
}

main {
    position: relative;
}

.container {
    max-width: 1440px;
    padding: 0px 75px;
    margin: 0px auto;
}
@general-color: #333333;

.general-drop-wrapper {
    display: flex;
    align-items: center;
    position: relative;
    font-size: 13px;
    line-height: 16px;
    
    &.active {
        .general-drop-content__wrapper {
            visibility: visible;
            opacity: 1;
            transition: visibility 0s 0s, opacity .4s;
        }
        
        .icon-drop-arrow {
            transform: rotate(180deg);
        }
    }
    
    .icon-drop-arrow {
        font-size: 4px;
        transition: transform .4s;
    }
}

.general-drop-wrapper__button {
    display: flex;
    align-items: center;
    
    .text {
        margin-right: 10px;
    }
}

.general-drop-content__wrapper {
    position: absolute;
    top: calc(100% + 10px);
    right: 0px;
    min-width: 225px;
    padding: 20px;
    visibility: hidden;
    opacity: 0;
    background-color: #ffffff;
    box-shadow: 0px 4px 15px rgba(196, 196, 196, 0.35);
    border-radius: 2px;
    color: @general-color;
    z-index: 4;
    transition: visibility 0s .4s, opacity .4s;
}

.general-drop__list {
    max-height: 185px;
    overflow: auto;
    scrollbar-color: #EEEEEE white;
    scrollbar-width: 2px;
    -ms-overflow-style: none;
    
    &::-webkit-scrollbar {
        width: 2px;
    }
    
    &::-webkit-scrollbar-thumb {
        background: #EEEEEE;
        border-radius: 1px;
    }
}

.general-drop__item {
    margin-bottom: 20px;
    
    &:last-child {
        margin-bottom: 0px;
    }
}

.hidden-input {
    position: absolute;
    left: 0px; 
    top: 0px;
    opacity: 0;
    visibility: hidden;
}

.general-batton-more {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px 30px;
    height: 45px;
    background: #F6F6F6;
    border-radius: 2px;
    font-weight: 500;
    font-size: 12px;
    line-height: 12px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: @general-color;
    transition: color .4s, background-color .4s;
    
    .icon-drop-arrow {
        font-size: 4px;
        transform: rotate(-90deg);
        color: #2F80ED;
        margin-left: 15px;
    }
    
    &.disabled {
        color: #BDBDBD;
        background-color: #F6F6F6;
    }
}

.input_wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    position: relative;
    
    &.error {
        .main_input {
            border-color: #EB5757;
        }
    }
    
    .input-text-error {
        display: block;
    }
    
    &.disabled {
        pointer-events: none;
        
        .main_input {
            border-color: #EEEEEE;
            
            &::placeholder {
                color: #EEEEEE;
            }
        }
    }
}

.input-text-error {
    position: absolute;
    left: 0px;
    top: calc(100% + 5px);
    display: none;
    font-size: 12px;
    line-height: 14px;
    color: #EB5757;
}

.main_input {
    font-size: 12px;
    line-height: 14px;
    color: @general-color;
    width: 100%;
    height: 45px;
    background: transparent;
    padding: 0px 20px;
    outline: none;
    border: 1px solid #E0E0E0;
    border-radius: 2px;
    transition: border-color .4s;
    
    &::-ms-clear {
        display: none;
    }
    
    &::placeholder {
        color: #E0E0E0;
    }
    
    &:focus {
        border-color: #2F80ED !important;
    }
}

.text-button {
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: @general-color;
    transition: color .4s;
    
    &.disabled {
        color: #BDBDBD;
        pointer-events: none;
    }
}

.main-button {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #FFFFFF;
    padding: 0px 30px;
    max-width: 250px;
    height: 45px;
    background: #2F80ED;
    border-radius: 2px;
    transition: background-color .4s;
    
    &.disabled {
        opacity: 0.5;
        pointer-events: none;
    }
}

.input-caption {
    font-size: 12px;
    line-height: 14px;
    color: @general-color;
    margin-bottom: 10px;
}

.main-caption-l {
    font-weight: 500;
    font-size: 32px;
    line-height: 39px;
    color: @general-color;
}

.main-caption-m {
    font-weight: 500;
    font-size: 28px;
    line-height: 34px;
    color: @general-color;
}

.main-caption-s {
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    color: @general-color;
}

.arrow-button {
    transition: color .4s;
    
    &.disabled {
        color: #E0E0E0;
        pointer-events: none;
    }
}

.general-button-more-info {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px 20px;
    max-width: 250px;
    height: 45px;
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    text-transform: uppercase;
    color: @general-color;
    border: 1px solid #EEEEEE;
    border-radius: 2px;
    transition: color .4s, border-color .4s;
    
    &.disabled {
        color: #BDBDBD;
        border-color: #EEEEEE;
        pointer-events: none;
    }
}

/* General navigation */

.general-navigation {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    margin-top: 30px;
    position: relative;
}

.general-button-more-info--navigation {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.pagination__list {
    display: flex;
    align-items: center;
    margin: 0px 20px;
}

.pagination__item {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    color: @general-color;
    margin-right: 10px;
    cursor: pointer;
    border-radius: 50%;
    transition: color .4s, background-color .4s;
    
    &:last-child {
        margin-right: 0px;
    }
    
    &.active {
        color: #2F80ED;
        background: rgba(47, 128, 237, 0.05);
    }
}

.pagination__item--dots {
    pointer-events: none;
}

.arrow-button--pagination {
    font-size: 12px;
}

.general-pagination {
    display: flex;
    align-items: center;
}
/* //General navigation */

/* General header block */

.general-header-block {
    margin-bottom: 30px;
}

.general-header-block__caption {
    margin-bottom: 20px;
}

.general-header-block__sub {
    font-size: 14px;
    line-height: 16px;
    color: #4F4F4F;
}

/* //General header block */

/* Stars */


.star__list {
    display: flex;
    color: rgba(242, 153, 74, 0.35);
}

.star__list-checked {
    color: #F2994A;
}

.star__item {
    padding-right: 5px;
    
    &:last-child {
        padding-right: 0px;
    }
    
    &.active {
        ~ .star__item {
            color: rgba(242, 153, 74, 0.35);
        }
    }
}

/* //Stars */

/* Checkbox */

.checkbox__wrapper {
    display: flex;
    align-items: center;
    font-size: 12px;
    line-height: 14px;
    color: @general-color;
    cursor: pointer;
    position: relative;
    margin-right: 30px;
    
    &:last-child {
        margin-right: 0px;
    }
}

.input-checkbox {
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: -1;
    opacity: 0;
        
    &:checked {
        + .custome-check {
            .icon-active {
                opacity: 1;
            }
        }
    }
}

.custome-check {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 14px;
    height: 14px;
    margin-right: 10px;
    border: 1px solid #E0E0E0;
    border-radius: 1px;
    flex-shrink: 0;
    transition: border-color .4s, background-color .4s;
    position: relative;
    
    .icon-active {
        content: "";
        font-size: 8px;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%,-50%);
        opacity: 0;
        color: #2F80ED;
        transition: opacity .4s;
        color: #0009F7;
    }
}

@media screen and (min-width: 1201px ) {
    /* General hover */
    
    .general-drop-wrapper  {
        &:hover {
            .general-drop-content__wrapper {
                visibility: visible;
                opacity: 1;
                transition: visibility 0s 0s, opacity .4s;
            }
            
            .icon-drop-arrow {
                transform: rotate(180deg);
            }
        }
    }
    
    .main_input {
        &:hover {
            border-color: #BDBDBD;
        }
    }
    
    .main-button {
        &:hover {
            background-color: #2A74D9;
        }
    }
    
    .text-button {
        &:hover {
            color: #2F80ED;
        }
    }
    
    .general-batton-more {
        &:hover {
            color: #2F80ED;
            background: #EEEEEE;
        }
    }
    
    .arrow-button {
        &:hover {
            color: #2F80ED;
        }
    }
    
    .general-button-more-info {
        &:hover {
            border-color: #2F80ED;
            color: #2F80ED;
        }
    }
    
    .pagination__item {
        &:hover {
            color: #2F80ED;
        }
    }
}