/* Header */


.header__top {
    display: flex;
    align-items: center;
    height: 40px;
    background: #333333;
    color: #FFFFFF;
    font-size: 13px;
    line-height: 16px;
}

.header__top__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 100%;
}

.header__contact-info {
    display: flex;
    height: 100%;
}

.header__contact-info__phones {
    margin-right: 20px;
    
    .general-drop-content__wrapper {
        right: auto;
        left: 50%;
    }
}

.header-drop {
    height: 100%;
    cursor: pointer;
    
    .general-drop-content__wrapper {
        top: calc(100% - 5px);
    }
}

.header__top__list {
    display: flex;
    align-items: center;
    height: 100%;
}

.header__top__item {
    margin-right: 30px;
}

.header__top__main-info {
    display: flex;
    align-items: center;
    height: 100%;
}

.change-lang__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 6px 8px;
    position: relative;
    background: #4F4F4F;
    border-radius: 20px;
    width: 50px;
    height: 24px;
    z-index: 1;
    font-size: 10px;
    line-height: 12px;
    
    
    .hidden-input {
        &:checked {
            + .change-lang-decor-elem {
                left: calc(100% - 21px);
            }
        }
    }
}

.change-lang-decor-elem {
    position: absolute;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    background: #2F80ED;
    left: 3px;
    top: 50%;
    transform: translateY(-50%);
    z-index: 2;
    cursor: pointer;
    transition: left .4s, background-color .4s;
}

.header__main__wrapper {
    display: flex;
    align-items: center;
    position: relative;
    padding-top: 20px;
    
    &.active {
        .header-category-wrapper {
            visibility: visible;
            opacity: 1;
            transition: visibility 0s 0s, opacity .4s;
         }
    }
}

.header-logo {
    width: 70px;
    max-height: 29px;
    margin-right: 32px;
    flex-shrink: 0;
}

.general-batton-more--header {
    padding: 0px 15px;
    max-width: 198px;
    width: 100%;
    
    .icon-drop-arrow {
        transform: rotate(-90deg);
    }
}

.header-search {
    margin: 0px 50px 0px 30px;
    width: 57.4%;
    position: relative;
    
    &.active {
        .header-search__live {
            opacity: 1;
            visibility: visible;
            transition: opacity .4s, visibility 0s 0s;
        }
        
        .input-search-icon {
            color: #2F80ED;
        }
    }
}

.header-search__live {
    background: #FFFFFF;
    box-shadow: 0px 4px 15px rgba(196, 196, 196, 0.35);
    border-radius: 2px;
    position: absolute;
    left: 0px;
    top: 100%;
    width: 100%;
    z-index: 2;
    opacity: 0;
    visibility: hidden;
    transition: opacity .4s, visibility 0s .4s;
}

.header-search__live__list {
    margin: 10px 0px;
    max-height: 350px;
    overflow: auto;
    scrollbar-color: rgba(193, 199, 221, 0.75) white;
    scrollbar-width: 5px;
    -ms-overflow-style: none;
    
    &::-webkit-scrollbar {
        width: 5px;
    }
    
    &::-webkit-scrollbar-thumb {
        background: rgba(193, 199, 221, 0.75);
        border-radius: 4px;
    }
}

.header-search__live__caption {
    font-size: 10px;
    line-height: 12px;
    color: #828282;
    margin: 0px 20px 15px;
}

.header-search__live__item {
    display: flex;
    font-size: 13px;
    line-height: 16px;
    color: #BDBDBD;
    transition: background-color .4s;
}

.header-search__live__link {
    width: 100%;
    height: 100%;
    padding: 10px 20px;
    
    span {
        color: #333333;
    }
}

.header__buttons {
    display: flex;
    align-items: center;
}

.header__buttons__item {
    margin-right: 30px;
    font-size: 17px;
    color: #333333;
    transition: color .4s;
    position: relative;
    
    &.active {
        .noty {
            opacity: 1;
        }
    }
    
    &:last-child {
        margin-right: 0px;
    }
    
    .noty {
        position: absolute;
        right: -5px;
        top: -5px;
        border-radius: 50%;
        width: 5px;
        height: 5px;
        background-color: #2F80ED;
        opacity: 0;
        transition: opacity .4s;
    }
    
    .icon-noty {
        font-size: 19px;
    }
}

.header__buttons__item__profile-img {
    display: block;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.header__buttons__item--comparison {
    color: #828282;
    opacity: 0;
    visibility: hidden;
    transition: opacity .4s, visibility 0s .4s;
    
    .noty-comparison {
        position: absolute;
        right: -5px;
        top: -5px;
        font-size: 7px;
        line-height: 7px;
        font-weight: 700;
    }
    
    &.active {
        opacity: 1;
        visibility: visible;
        transition: opacity .4s, visibility 0s 0s;
    }
    
    &.more {
        color: #2F80ED;
    }
}

.header-info-block {
    background: #2F80ED;
    padding: 6px 0px;
    color: #FFFFFF;
    margin-top: 20px;
}

.header-info-block__wrapper {
    text-align: center;
}

.header-category-wrapper {
    display: flex;
    justify-content: space-between;
    width: 100%;
    position: absolute;
    left: 0px;
    top: calc(100% - 10px);
    background: #FFFFFF;
    box-shadow: 0px 4px 15px rgba(196, 196, 196, 0.35);
    border-radius: 5px;
    font-size: 14px;
    line-height: 17px;
    visibility: hidden;
    opacity: 0;
    z-index: 4;
    transition: visibility 0s .4s, opacity .4s;
}

.header-category__buttons {
    display: flex;
    flex-direction: column;
    font-weight: 500;
    color: #000000;
    background: #F6F6F6;
    width: calc(25% - 15px);
    padding: 30px 0px 20px;
}

.header-category__button {
    text-align: left;
    padding: 10px 10px 10px 50px;
    transition: background-color .4s, color .4s;
    
    &.active {
        color: #2F80ED;
        background-color: rgba(47, 128, 237, 0.15);
    }
}

.header-category__content {
    width: calc(75% - 15px);
    padding: 40px 0px 30px;
}

.header-category__list {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: -20px;
}

.header-category__item {
    width: calc(25% - 10px);
}

/* Header hover */

@media screen and (min-width: 1201px) {
    .header-category__button {
        &:hover {
            color: #2F80ED;
        }
    }
    
    .header__buttons__item {
        &:hover {
            color: #2F80ED;
        }
    }
    
    .header-search__live__item {
        &:hover {
            background-color: #F6F6F6;
        }
    }
    
    .change-lang-decor-elem {
        &:hover {
            background-color: #1368d8;
        }
    }
    
    .clear-search-input {
        &:hover {
            color: #2F80ED;
        }
    }
}

/* //Header hover */

/* header media */

@media screen and (max-width: 1024px) {
    .header-search {
        margin: 0px 20px;
        
        .main_input {
            padding: 0px 16px;
        }
        
        .input-search-icon {
            right: 16px;
        }
    }
    
    .header-logo {
        margin-right: 20px;
    }
    
    .header__buttons__item {
        margin-right: 20px;
    }
    
    .header-category__buttons {
        width: calc(25% - 10px);
    }
    
    .header-category__content {
        width: calc(75% - 10px);
    }
    
    .header-category__button {
        padding-left: 20px;
    }
}

@media screen and (max-width: 767px) {
    .header-mobile {
        position: fixed;
        left: 0px;
        top: 0px;
        width: 100%;
        background-color: #FFFFFF;
        z-index: 4;
    }
    
    .header-mobile__burger-button {
        width: 27px;
        height: 16px;
        position: relative;
        
        &::before {
            content: "";
            position: absolute;
            left: 0px;
            top: 0px;
            width: 100%;
            height: 2px;
            border-radius: 1px;
            background-color: #333333;
        }
        
        .decor {
            &::before,
            &::after {
                content: "";
                position: absolute;
                left: 0px;
                width: 100%;
                height: 2px;
                top: 7px;
                background-color: #333333;
            }
            
            &::after {
                top: auto;
                bottom: 0px;
            }
        }
    }
    
    .header-mobile__wrapper {
        padding-top: 15px;
    }
    
    .header-mobile__top {
        display: flex;
        justify-content: space-between;
        margin-bottom: 20px;
    }
    
    .header-search {
        width: 100%;
        margin: 0px;
    }
    
    .header__burger-wrapper {
        position: fixed;
        left: 0px;
        top: 0px;
        z-index: 10;
        width: 80%;
        height: 100%;
        padding: 16px 0px 30px;
        color: #FFFFFF;
        font-size: 16px;
        line-height: 19px;
        background-color: #333333;
        overflow: auto;
        scrollbar-width: none;
        -ms-overflow-style: none;
        opacity: 0;
        transform: translateX(-100%);
        transition: opacity .6s, transform .6s;
        
        &.active {
            opacity: 1;
            transform: translateX(0%);
        }
        
        
        &::-webkit-scrollbar {
            display: none;
        }
    }
    
    .header__burger-top {
        display: flex;
        justify-content: space-between;
        padding: 0px 16px;
        margin-bottom: 20px;
    }
    
    .close__popup {
        &.close__popup--header {
            color: #FFFFFF;
            font-size: 12px;
            width: 20px;
            height: 20px;
        }
    }
    
    .header__burger-search {
        width: calc(100% - 32px);
        margin: 0px 16px 10px;
        font-size: 16px;
        line-height: 19px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        color: #828282;
        padding-bottom: 10px;
        border-bottom: 1px solid #4F4F4F;
        
        .input-search-icon {
            color: #FFFFFF;
            right: 0px;
            top: 0px;
            transform: translateX(0px);
        }
    }
    
    .header__burger-catalog {
        margin-bottom: 15px;
    }
    
    .header__burger-catalog__button {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        padding: 14px 16px;
        background-color: #4F4F4F;
        
        .icon-drop-arrow {
            font-size: 4px;
            transform: rotate(-90deg);
        }
    }
    
    .header__burger-items__wrapper {
        padding: 0px 16px;
    }
    
    .header__burger-item {
        border-bottom: 1px solid #4F4F4F;
        margin-bottom: 20px;
        
        &:last-child {
            margin-bottom: 0px;
            padding-bottom: 0px;
            border-bottom: none;
            
            .header__burger-item__item {
                &:last-child {
                    margin-bottom: 0px;
                }
            }
        }
    }
    
    .header__burger-item__item {
        margin-bottom: 20px;
        
        &.active {
            color: #BDBDBD;
        }
    }
    
    .header__burger-item__caption {
        color: #BDBDBD;
        margin-bottom: 20px;
    }
}