.popup {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    z-index: 10;
    background-color: #fff;
    max-height: 100%;
    overflow: hidden;
    border-radius: 5px;
    max-width: 480px;
    width: 100%;
    
    .input_wrapper {
        margin-bottom: 20px;
    }
    
    .main_button-color {
        margin: 0px auto;
    }
}

.popup__wrapper {
    overflow: auto;
    scrollbar-color: rgba(193, 199, 221, 0.75) white;
    scrollbar-width: 5px;
    -ms-overflow-style: none;
    padding: 40px;
    
    &::-webkit-scrollbar {
        width: 5px;
    }
    
    &::-webkit-scrollbar-thumb {
        background: rgba(193, 199, 221, 0.75);
        border-radius: 4px;
    }
}

.popup.active {
    transform: translate(-50%, -50%) scale(1);
    transition: transform 0.4s;
}


.close__popup {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 24px;
    height: 24px;
    position: absolute;
    right: 15px;
    top: 15px;
    font-size: 14px;
    cursor: pointer;
    outline: none;
    color: #333333;
    z-index: 4;
    transition: color .4s, transform .4s;
}

.overlay {
    display: none;
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.25);
    z-index: 8;
}

.overlay.active {
    display: block;
    animation: overlay .6s;
}

@keyframes overlay {
    0% {
        transform: translateY(-100%);
    }
    
    100% {
        transform: translateY(0%);
    }
}

/* Popup reviews */

.popup__wrapper {
    .reviews__item__footer {
        .text-button {
            display: none;
        }
    }
    
    .reviews__item__text {
        display: block;
    }
}

/* //Popup reviews */

/* Popup form */

.popup-form {
    max-width: 365px;
}

.popup__caption {
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    color: #333333;
    margin-bottom: 20px;
}

.popup__sub {
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: #4F4F4F;
}

.popup__form-wrapper {
    margin-top: 30px;
    
    .main-button {
        margin: 0px auto;
    }
}

/* //Popup form */

/* Popup product */

.popup-product {
    max-width: 880px;
}

.product__popup__img {
    position: relative;
    width: calc(45% - 15px);
    height: 343px;
}

.product-popup__img-list {
    width: 100%;
    height: 100%;
    position: relative;
}

.product-popup__img-item {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0px;
    top: 0px;
    opacity: 0;
    transform: translateY(-50px);
    transition: opacity .6s, transform .6s;
    
    &.show {
        opacity: 1;
        transform: translateY(0px);
        z-index: 1;
    }
}

.product-popup__arrow-button {
    position: absolute;
    left: 15px;
    top: 50%;
    transform: translateY(-50%);
    z-index: 4;
    font-size: 14px;
}

.product-popup__arrow-button--right {
    left: auto;
    right: 15px;
}

.product__description--popup {
    width: calc(55% - 15px);
}

.general-batton-more--product-popup {
    max-width: 215px;
    margin: 30px auto 0px;
}

/* //Popup product */

@media screen and (min-width: 1201px) {
    .close__popup {
        &:hover {
            color: #000000;
            transform: rotate(90deg);
        }
    }
}